In [4]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import csv
import nfl_data_py as nfl

In [8]:
# Loading the file in 

file_path = ("Resources/clean_nfl_data.csv")
df = pd.read_csv(file_path)
df = pd.DataFrame(df)

df = df[["play_id" , "home_team" , "away_team" , "posteam" , "play_type" , "down" , "ydstogo" ,"rushing_yards" , "rush_attempt" , "rush_touchdown",
            "pass_attempt" , "complete_pass" , "passing_yards" , "pass_touchdown" , "touchdown"]]
df.head(10)

,play_id,home_team,away_team,posteam,play_type,down,ydstogo,rushing_yards,rush_attempt,rush_touchdown,pass_attempt,complete_pass,passing_yards,pass_touchdown,touchdown
0,55,TEN,ARI,TEN,run,1.0,10,-3.0,1,0,0,0,NaN,0,0
1,76,TEN,ARI,TEN,pass,2.0,13,NaN,0,0,1,1,3.0,0,0
2,100,TEN,ARI,TEN,pass,3.0,10,NaN,0,0,1,0,NaN,0,0
3,152,TEN,ARI,ARI,pass,1.0,10,NaN,0,0,1,1,38.0,0,0
4,181,TEN,ARI,ARI,run,1.0,10,2.0,1,0,0,0,NaN,0,0
5,218,TEN,ARI,ARI,pass,1.0,18,NaN,0,0,1,1,1.0,0,0
6,253,TEN,ARI,ARI,pass,2.0,17,NaN,0,0,1,1,21.0,0,0
7,282,TEN,ARI,ARI,run,1.0,9,0.0,1,0,0,0,NaN,0,0
8,386,TEN,ARI,ARI,pass,2.0,24,NaN,0,0,1,1,8.0,0,0
9,410,TEN,ARI,ARI,pass,3.0,16,NaN,0,0,1,0,NaN,0,0

In [10]:
# Determine if there are any missing values. 
df.count()

play_id           35766
home_team         35766
away_team         35766
posteam           35766
play_type         35766
down              35608
ydstogo           35766
rushing_yards     14710
rush_attempt      35766
rush_touchdown    35766
pass_attempt      35766
complete_pass     35766
passing_yards     12741
pass_touchdown    35766
touchdown         35766
dtype: int64